{#

@Template("wiki_index")
@Route("/wiki", name="wiki_index")

#}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wiki</title>
  </head>

  <body>
    <h1>Welcome to Wiki</h1>

    <pre>

      function hello($name) {
        echo "Hello " . $name; 
      }

      hello($dennis);

    </pre>
  </body>
</html>
