{#

 This file is part of the cargo framework

 (c) Dennis Dietrich <d.dietrich84@googlemail.com>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

 @Template(name="Page:bar")
 @Route(name="bar", pattern="/bar/{name}", defaults={"name"="Dennis"})

#}

{% extends "Base:layout" %}

{% block content %}
    Hello my name is {{ name }}!
    <a href="{{ view.externalLink }}">{{ view.externalLink }}</a>
    <a href="{{ path("foo") }}">Navigate to foo</a>
{% endblock %}