{#

 This file is part of the cargo framework

 (c) Dennis Dietrich <d.dietrich84@googlemail.com>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

 @Template("Acme:Page:foo.html.twig")
 @Route("/foo", name="foo")

#}

{% extends "Base:layout" %}

{% block content %}
    Hello i am the foo template
    <a href="{{ path("bar") }}">Navigate to bar</a>
{% endblock %}