{#

@Template("website_hello")
@Route("/hello/{name}", name="website_hello")

#}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Website</title>
  </head>

  <body>
    <h1>Hello {{ name }}</h1>
  </body>
</html>
