{#

@Template("website_index")
@Route("/", name="website_index")

#}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Website</title>
  </head>

  <body>
    <h1>welcome to Website</h1>
  </body>
</html>
