{#

@Template("website_index")
@Route("/", name="website_index")

#}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Website</title>
    {% stylesheets 
        "css/reset.css"
        "css/main.css"
        filter="yui_css" %}
        <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
  </head>

  <body>
    <h1>Welcome to Website</h1>
    <a href="{{ path("admin_dashboard") }}">Admin</a>
    <a href="{{ path("wiki_index") }}">Wiki</a>
  </body>
</html>
