{#

@Template("login")
@Route("/login", name="login")

#}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <form action="/admin/login_check" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="_username" value="" />

      <label for="password">Password:</label>
      <input type="password" id="password" name="_password" />

      <button type="submit">login</button>
    </form>
  </body>
</html>
