{#

@Template("admin_dashboard")
@Route("/admin", name="admin_dashboard")
@Secured("ROLE_ADMIN")

#}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>

  <body>
    <h1>Welcome to Admin Dashboard</h1>
  </body>
</html>

