{#

 This file is part of the cargo framework

 (c) Dennis Dietrich <d.dietrich84@googlemail.com>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

 @Template(name="Base:layout")

#}

<html>
    <head>
        <title>Cargo Example</title>
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>